/algorithm/HELP.md
/algorithm/.gradle
/algorithm/build/
/algorithm/!gradle/wrapper/gradle-wrapper.jar
/algorithm/!**/src/main/**/build/
/algorithm/!**/src/test/**/build/
/algorithm/.apt_generated
/algorithm/.classpath
/algorithm/.factorypath
/algorithm/.project
/algorithm/.settings
/algorithm/.springBeans
/algorithm/.sts4-cache
/algorithm/bin/
/algorithm/!**/src/main/**/bin/
/algorithm/!**/src/test/**/bin/

/algorithm/.gitignore
/algorithm/.idea
/algorithm/*.iws
/algorithm/*.iml
/algorithm/*.ipr
/algorithm/out/
/algorithm/!**/src/main/**/out/
/algorithm/!**/src/test/**/out/

/algorithm/nbproject/private/
/algorithm/nbbuild/
/algorithm/dist/
/algorithm/nbdist/
/algorithm/.nb-gradle/

/algorithm/.vscode/

/algorithm-front/.gitignore
/algorithm-front/.idea
/algorithm-front/node_modules
/algorithm-front/.pnp
/algorithm-front/.pnp.js
/algorithm-front/package-lock.json

/algorithm-front/coverage

/algorithm-front/build

/algorithm-front/.DS_Store
/algorithm-front/.env.local
/algorithm-front/.env.development.local
/algorithm-front/.env.test.local
/algorithm-front/.env.production.local
/algorithm-front/package-lock.json
/algorithm-front/npm-debug.log*
/algorithm-frontyarn-debug.log*
/algorithm-frontyarn-error.log*

/java-executor/**/.DS_Store
/java-executor/target/

/java-executor/dependency-reduced-pom.xml
/java-executor/deploy.sh
/java-executor/.idea

/javascript-executor/node_modules/
/javascript-executor/package-lock.json
/javascript-executor/.idea

/python-executor/.idea
